# Python
__pycache__/
*.py[cod]

# Artifacts/checkpoints
*.pt
*.ckpt
*.npz

# Logs
*.out
*.err
*.sh
lightning_logs/
wandb/
logs*/

# Experiment outputs
results*/
samples*/
pretrained_models/
visuals*/

# Docs
*.md
!README.md
ardit_animation.py